.contact-title{
    width: 90%;
    background-color: $blackt;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    margin: 0 0 20px;
}
.contact-content{
    width: 100%;
    max-width: 500px;
    background-color: $blackt;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 0;
    div{
        width: 100%;
        h3{
            padding: 0 0 5px 0;
        }
        p{
            padding: 0 0 10px 0;
        }
    }
}
.contact-content-link{
    display: flex;
    justify-content: center;
    a{
        padding: 0 50px;
        font-size: xx-large;
    }
}
