$black: #333;
$blackt: rgba(51, 51, 51, 0.849);
$white: #ddd;
*{
    font-family: 'Roboto Mono', monospace;
    color: $white;
    padding: 0;
    margin: 0;
}
body{
    overflow-y: auto;
}
.container{
    display: flex;
    flex-direction: column;
    background-image: url('./img/retro.jpg');
    background-position: center;
    background-attachment: fixed;
}
.row{
    animation: come 0.5s forwards;
    min-height: calc(100vh - 190px);
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-content: flex-start;
}
.hide{
    display: none;  
}
@keyframes come{
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@media screen and (max-width: 850px){
    .experiences,
    .formations,
    .skills-title,
    .soft-skills{
        width: 100% !important;
    }
    .row{
        margin: 0 0 20px;
    }
}
@media screen and (max-width: 540px){
    span{
        display: none;
    }
    .home-content{
        flex-direction: column !important;
    }
    .soft-skills-content{
        grid-template-columns: 1fr !important;
    }
    .portfolio-title,
    .portfolio-content,
    .contact-title,
    .contact-content{
        width: 100% !important;    
    }
}
